<header id="header" class="header d-flex align-items-center light-background sticky-top">
  <div class="container position-relative d-flex align-items-center justify-content-between">
    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="/" class="<%= (bodyClass === 'index-page') ? 'active' : '' %>">Home</a></li>
        <li><a href="/about" class="<%= (bodyClass === 'about-page') ? 'active' : '' %>">About</a></li>
        <li><a href="/resume" class="<%= (bodyClass === 'resume-page') ? 'active' : '' %>">Resume</a></li>
        <li><a href="/services" class="<%= (bodyClass === 'services-page' || bodyClass === 'service-details-page') ? 'active' : '' %>">Services</a></li>
        <li><a href="/blog" class="<%= (bodyClass === 'blog-page' || bodyClass === 'blog-details-page') ? 'active' : '' %>">Blog</a></li>
        <li><a href="/contact" class="<%= (bodyClass === 'contact-page') ? 'active' : '' %>">Contact</a></li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <div class="header-social-links">
      <a href="https://github.com/rachidelfe" class="twitter" aria-label="GitHub" target="_blank" rel="noopener noreferrer"><i class="bi bi-github"></i></a>
      <a href="https://www.linkedin.com/in/rachidelfermi/" class="facebook" aria-label="LinkedIn" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
      <a href="mailto:rachid.elfermi@gmail.com" class="instagram" aria-label="Email"><i class="bi bi-envelope"></i></a>
      <a href="/blog" class="linkedin" aria-label="Blog"><i class="bi bi-journal-text"></i></a>
    </div>

  </div>
</header>
